* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
}

.fumaca /* div */ {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fumaca {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fumaca 2s infinite;
}

@keyframes fumaca {
  0% {
    opacity: 100%;
  }

  25% {
    opacity: 80%;
  }

  50% {
    opacity: 70%;
  }

  80% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

.cidade /* div */ {
  bottom: -50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cidade {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  bottom: -80px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.portal {
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagem-portal {
  position: absolute;
  top: 10px;
  width: 1100px;
  height: 1100px;
  border-radius: 100%;
  animation: portal 0.3s linear infinite;
}

@keyframes portal {
  0% {
    transform: rotate(360deg);
  }
}

#osHomensAranha {
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animacaoHomemAranha 3s linear;
}

@keyframes animacaoHomemAranha {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 65%;
    height: 65%;
  }
}

.osHomensAranha /* div */ {
  display: flex;
  align-items: center;
  justify-content: center;
}

.duende {
  top: 50px;
  right: 0px;
  position: absolute;
}

#duende {
  width: 500px;
  height: 500px;
  position: relative;
  animation: animacaoFlutuante 3s infinite, animacaoDuende 3s linear;
}
@keyframes animacaoDuende {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animacaoFlutuante {
  0% {
    top: 15px;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 15px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 15px;
  }
}

#octapus {
  width: 500px;
  height: 500px;
  bottom: 5px;
  left: -30px;
  position: absolute;
  animation: octapus 5s linear;
  /* animation-delay: 3s; */
}

@keyframes octapus {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.div-estreia {
  position: absolute;
  font-size: 30px;
  right: 0px;
  bottom: 0;
  color: white;
  font-family: "Unbounded", cursive;
  border-right: 5px solid white;
  white-space: nowrap;
  overflow: hidden;
  animation: digitando 2s steps(13) infinite alternate,
    barrinha 800ms steps(13) infinite normal;
}
.estreia {
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 25vw;
  height: 10vw;
}
@keyframes digitando {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes barrinha {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

.teia {
  position: absolute;
  top: 0px;
  left: -70px;
}
#teia {
  width: 500px;
}
